BODY {
	FONT-SIZE: 12px; FONT-FAMILY: "song", "MS Shell Dlg"; TEXT-ALIGN: center
}
TD {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: "Song", "MS Shell Dlg"
}
SELECT {
	FONT-SIZE: 12px; FILTER: Alpha(Opacity=50); COLOR: #666666; FONT-FAMILY: "song", "MS Shell Dlg", "ו"; BACKGROUND-COLOR: #f5f5f5
}
INPUT {
	FONT-SIZE: 12px; FONT-FAMILY: "song", "MS Shell Dlg", "ו"
	
}
.inputlog {
	border-width: 1px;
	border-color:#2167E1;

}
.newstitle {
	font-size: 20px;
	line-height: 50px;
	font-variant: normal;
}
A:link {
	FONT-SIZE: 12px; COLOR: #333333; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #666666; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #000066; TEXT-DECORATION: underline
}
.headNavBorder {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.newsList {
	LINE-HEIGHT: 148%
}
.homeLoginInput {
	FONT-SIZE: 14px; COLOR: #8cb92f; LINE-HEIGHT: 150%
}
.content {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 2px; PADDING-TOP: 3px
}
.photo_boder {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid
}
.pagesimages {
	BORDER-RIGHT: #7c7e7c 1px solid; BORDER-TOP: #7c7e7c 1px solid; BORDER-LEFT: #7c7e7c 1px solid; BORDER-BOTTOM: #7c7e7c 1px solid
}
.p9 {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 120%
}
.p9_2 {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 150%
}
